<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div id="content">
    <nav>
      <ul>
        <li><a href="/" class="href">Home</a></li>
        <li><a href="/catalog" class="href">Catalog</a></li>
        <li><a href="/create" class="href">Create</a></li>
        <li><a href="/about" class="href">About Us</a></li>
      </ul>
    </nav>
    <main id="main">
      {{{body}}}
    </main>
  </div>
</body>

</html>